---
// layout import
import BaseLayout from "../../layouts/BaseLayout.astro";

// component import
import CardLong from "../../components/ui/CardLong.astro";

import { getCollection } from "astro:content";

let articles = await getCollection("articles", ({ data }) => {
    if (import.meta.env.DEV) {
        return true;
    }
    return data.draft !== true;
});

articles = articles.sort(
    (a, b) => b.data.updatedDate.valueOf() - a.data.updatedDate.valueOf()
);

const {
    title = "Articles",
    description = "Long-form pieces that bring together guides, stories, and ideas explored in depth",
} = Astro.props;
---

<BaseLayout title={title} description={description}>
    <section class="container-grid">
        <section class="container-side"></section>

        <section class="container-main">
            <article>
                <h1>
                    {title}<span class="text-red-800">.</span>
                </h1>
                <span class="font-medium text-neutral-500 italic">
                    {description}
                </span>
            </article>

            <div class="@container mt-8 flex flex-col gap-y-4">
                {
                    articles.map((article) => (
                        <CardLong post={article} collection="articles" />
                    ))
                }
            </div>
        </section>

        <section class="container-side"></section>
    </section>
</BaseLayout>
