---
// layout import
import BaseLayout from "../../layouts/BaseLayout.astro";

// component import
import CardShort from "../../components/ui/CardShort.astro";

import { getCollection } from "astro:content";

let journals = await getCollection("journals", ({ data }) => {
    if (import.meta.env.DEV) {
        return true;
    }
    return data.draft !== true;
});

journals = journals.sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const {
    title = "Journals",
    description = "Personal reflections and frustrations on life",
} = Astro.props;
---

<BaseLayout title={title} description={description}>
    <section class="container-grid">
        <section class="container-side"></section>

        <section class="container-main">
            <article>
                <h1>
                    {title}<span class="text-red-800">.</span>
                </h1>
                <span class="font-medium text-neutral-500 italic">
                    {description}
                </span>
            </article>

            <div class="@container mt-8 flex flex-col gap-y-2">
                {
                    journals.map((journal) => (
                        <CardShort post={journal} collection="journals" />
                    ))
                }
            </div>
        </section>

        <section class="container-side"></section>
    </section>
</BaseLayout>
