---
// layout import
import BaseLayout from "./BaseLayout.astro";

// component import
import Giscus from "../components/page/Giscus.astro";
import TableOfContents from "../components/page/TableOfContents.astro";
import { Icon } from "astro-icon/components";

// utils
import { formatDate } from "../utils/formatDate";

const { frontmatter, headings } = Astro.props;

const { type, title, description, pubDate, updatedDate, cover, tags, toc } =
    frontmatter;
---

<BaseLayout title={title} description={description} image={cover}>
    <section class="container-grid">
        <!-- Page Meta Start -->
        <section class="container-side"></section>

        <section class="container-main">
            <article>
                <div class="flex flex-wrap items-center gap-x-4">
                    <p class="flex items-center gap-x-2 text-sm">
                        {
                            type === "article" && (
                                <Icon
                                    name="material-symbols:book-2"
                                    size="16"
                                />
                            )
                        }
                        {
                            type === "log" && (
                                <Icon
                                    name="material-symbols:archive"
                                    size="16"
                                />
                            )
                        }
                        <span class="font-medium capitalize">{type}</span>
                    </p>
                    <div class="size-1 rounded-full bg-neutral-400"></div>
                    <p class="text-sm">
                        <span class="font-medium">Updated:</span>
                        <span data-time={formatDate(updatedDate, "iso")}
                            >{formatDate(updatedDate, "relative")}</span
                        >
                    </p>
                </div>
                <h1 class="leading-normal">
                    {title}<span class="text-red-800">.</span>
                </h1>
            </article>
        </section>

        <section class="container-side"></section>
        <!-- Page Meta End -->

        <!-- Main Content Start -->
        <section class="container-side pl-4">
            {toc && <TableOfContents headings={headings} />}
        </section>

        <section class="container-main">
            <article>
                <slot />
            </article>
        </section>

        <section class="container-side"></section>
        <!-- Main Content End -->

        <!-- Comment Start -->
        <section class="container-side"></section>

        <section class="container-main">
            <Giscus />
        </section>

        <section class="container-side"></section>
        <!-- Comment End -->
    </section>
</BaseLayout>
